    :root {
            --nav-bg-color: rgb(63,187,180);;
            --nav-link-color: #fff;
            --main-bg-color: #fff;
            --accent-color: rgb(63,187,180);
        }

        td{
            height: 200px;
            text-align: center;
            vertical-align: middle;
            border: none;
            font-weight: bold;
            color: var(--accent-color);
            font-size: 32px;
            vertical-align: top; 
        }

        h1 {
            text-align: center;
            font-size: 48px;
            color: var(--accent-color);
            font-weight: bold;
        }
        p {
            text-align: center;
            font-size: 24px;
            color: var(--accent-color);
            font-weight: bold;
        }

        /* Flexbox for navigation bar */
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            background-color: var(--nav-bg-color);
            width: 100%;
        }
        nav a {
            color: var(--nav-link-color);
            text-decoration: none;
            font-size: large;
        }
        nav div {
            display: flex;
            justify-content: space-between;
            width: 15%; /* Adjust this value as needed */
        }

        .image-container {
            position: relative;
        }

        .text-over-image {
            position: absolute;
            top: 20%;
            left: 30%;
            transform: translate(-50%, -50%);
            color: var(--accent-color); /* Change as needed */
            font-size: 30px; /* Change as needed */
        }

        /* Flexbox for main content */
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            padding-top: 0px;
            background-color: var(--main-bg-color);
        }

        /* Flexbox for table */
        table {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            border-collapse: separate;
            border-spacing: 20px;
        }

        /* Flexbox for table rows */
        tr {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        /* Flexbox for table cells */
        td {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 10px;
            padding: 10px;
        }

        /* Flexbox for footer */
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-bg-color);
            padding: 10px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;    
        }
